# ignore directories
__pycache__/
.venv/
env/
node_modules/
.pytest_cache/
frontend/build/
gpx_test_files/
dataframes_test/

# ignore files
.flaskenv
.env
.env.*
*.pyc
/*.sqlite3
.flaskenv

**/.DS_Store

*.chunk.*
runtime-main.*
# /app/templates/index.html
app/static/images/new_marker_icon.svg
app/static/js/leaflet-providers.js
app/templates/index.html
