{% extends "base.html" %}


  {% block content %}
    {% if current_user.is_authenticated %}
      <div class="container">
        <div class="bot__inner">
          <div class="bot__status">
            {% if not bot.is_active %}
              <span class="bot__status-text">Bot is currently offline</span>
              <button class="bot__status-refresh" onclick="window.location.reload()">Refresh</button>
              <a class="bot__btn bot__btn--start" href="{{url_for('main.run_bot')}}">Start Bot</a>
              <a class="bot__btn bot__btn--restart" href="{{url_for('main.restart_bot')}}">Restart</a>
            {% else %}
              <span class="bot__status-text">Bot is currently running</span>
              <button class="bot__status-refresh" onclick="window.location.reload()">Refresh</button>
              <a class="bot__btn bot__btn--stop" href="{{url_for('main.terminate_bot')}}">Stop Bot</a>
              <a class="bot__btn bot__btn--restart" href="{{url_for('main.restart_bot')}}">Restart</a>
            {% endif %}
          </div>
        </div>

        <div class="bot__accounts">
          <ul class="bot__account-list">
            {% for account in accounts %}
              <li class="bot__account">
                <span class="bot__account-name">{{ account.username }}</span>
                <button class="bot__delete-btn">Delete Account</button>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% else %}
      <h2 class="login__message">Please log in to start using the app.</h2>
    {% endif %}
  {% endblock %}

  {% block scripts %}
  <script defer>
    function checkBotStatus() {
      fetch(`${window.location.origin}/refresh_bot_status`)
        .then(res => res.json())
        .then(data => {
          const statusDisplay = document.querySelector('.bot__status-text');
          statusDisplay.textContent = data.status
        })
        .catch(err => alert(err));
    }
  </script>
  {% endblock %}
